#container{
    width:100%;
    height: 100hv;
    background-color: antiquewhite;
    display:flex;
    align-items: center;
    justify-content: center;
}

.vid{

    width: 550px;
    height :550px;
    border-radius: 50%;

}